.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #000; /* Fondo negro */
  color: #8FE3FF; /* Texto celeste */
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid #8FE3FF; /* Línea superior celeste */
}

.footer-section {
  display: flex;
  align-items: center;
  gap: 10px;
}



.footer-section p {
  margin: 0;
  font-size: 14px;
}

.footer-section:hover p {
  color: #ffffff; /* Texto blanco al hover */
}
.footer-section img {
  width: 24px;
  height: 24px;
  display: block; /* Asegura que se renderice correctamente */
  filter: none; /* Si se aplicó algún filtro previamente, lo eliminamos */
}
